body {
  margin: auto;
}


h1 a {
  color: #3F3D56;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}

h1 span {
  color: #EE24FF;
}

p {
font-family: 'Open Sans', sans-serif;
color:#828282; 
font-weight: 400;
font-size: 15px;
line-height: 22px;
text-align: center;
}

p span {
  color: #3F3D56;
  font-weight: bold;

}



#header {
  width: 626px;
  text-align: center;
  margin: 64px auto 64px;
  
}

#footer {
  text-align: center;
}

#wave {
  position: absolute;
  bottom: 0;
  width: auto;
}
